:root {
  --red: tomato;
  --purple: #00b7ff;
  --green: #02c7ba;
  --black: #38454f;
}

.red {
  color: var(--red);
}
.purple {
  color: var(--purple);
}
.green {
  color: var(--green);
}
.black {
  color: var(--black);
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login .card {
  min-width: 400px;
  /* min-height: 100vh; */
}
.login {
  min-width: 400px;
  min-height: 100vh;
  background: linear-gradient(var(--green), var(--purple));
}

/*********** navbar ***********/

.content i {
  filter: drop-shadow(1px 1px 0px rgba(128, 128, 128, 0.479));
}

.topBar i {
  font-size: 24px;
  font-weight: bold;
}

.userLogo {
  width: 100px;
  /* filter: drop-shadow(2px 2px 2px grey); */
  background-position: center center;
}

.mainPage {
  min-height: 100vh;
  background: #f5f6fa;
}

/* sidebar */
.sidebar {
  background: linear-gradient(var(--green) 50%, var(--purple));
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.5s ease;
  overflow: auto;
}

.sidebar.hidden {
  transform: translate(-100%);
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    position: relative;
  }
  .sidebar li {
    float: center;
  }
  .content {
    margin-left: 0 !important;
  }
  .sidebar.hidden {
    transform: translateY(-100%);
    height: 0;
    opacity: 0;
  }
}

.sidebar .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar .profile img {
  width: 60px;
  height: 60px;
  margin-top: 20px;
}

ul {
  padding: 0;
  margin: 0;
  height: fit-content;
  padding-left: 0 !important;
}

.navlink {
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
}

.sidebar ul li {
  display: block;
}
.sidebar ul li .navlink:hover,
.sidebar ul li .navlink.active {
  color: white;
  background: transparent;
  /* border-right: 2px solid var(--blueLight); */
  filter: drop-shadow(2px 1px 1px rgba(128, 128, 128, 0.479));
  outline: 2px solid white;
  outline-offset: -4px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.sidebar ul li .navlink:hover i,
.sidebar ul li .navlink.active i {
  color: var(--red);
}

.sidebar i::before {
  filter: drop-shadow(1px 1px 0px rgba(128, 128, 128, 0.144)) !important;
  animation: rotation2 2s infinite linear;
}

.sidebar ul li .navlink:hover:before,
.sidebar ul li .navlink.active:before {
  display: block;
}

.sidebar ul li .navlink {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid var(--blueLight);
  color: white;
  font-size: 16px;
  position: relative;
  font-weight: bold;
  filter: drop-shadow(0px 2px 2px rgba(128, 128, 128, 0.479));
  transition: all 0.2s ease-in-out;
}

.sidebar ul li .navlink i {
  color: white;
  margin-right: 10px;
  font-size: 22px !important;
  font-weight: 900;
}

.content {
  height: 100%;
  transition: all 0.5s ease;
  margin-left: 250px;
  overflow-x: hidden !important;
}

.content.full {
  margin-left: 0;
}

.postes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  padding: 30px;
}

.poste {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 220px;
  width: 220px;
  color: black;
  background: white;
  border-radius: 50%;
  justify-content: center;
  font-size: 26px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  border: 10px solid var(--green);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(4px 1px 1px rgba(128, 128, 128, 0.479));
}

.poste:hover {
  transform: translateY(-5px);
  /* box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.425); */
}

.consoleImg {
  width: 100px;
  height: auto;
  filter: drop-shadow(4px 1px 1px rgba(128, 128, 128, 0.479));
  animation: rotation 2s infinite linear;
}

.consoleImgSm {
  width: 50px;
  height: auto;
  filter: drop-shadow(4px 1px 1px rgba(128, 128, 128, 0.479));
  animation: rotation 2s infinite linear;
}

tbody .btn .bi {
  margin: 0 auto !important;
  font-size: 18px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
    filter: drop-shadow(4px 1px 1px var(--green));
  }
  75% {
    transform: rotate(-1deg);
    filter: drop-shadow(4px 1px 1px var(--red));
  }
  100% {
    transform: rotate(0deg);
  }
}

.poste.poste_active {
  border: 10px solid tomato !important;
}

.modal-footer,
.modal-header {
  border-color: transparent !important;
}

.table {
  border-collapse: separate;
  border-spacing: 0 0.5em;
  min-width: 500px;
  padding-right: 10px;
}

td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.table thead {
  background: tomato !important;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); */
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.1));
}
.table thead th {
  vertical-align: middle !important;
}

.table thead th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.table thead th:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

tbody tr {
  background: white;
  /* filter: drop-shadow(1px 0px 1px rgba(128, 128, 128, 0.795)); */
  color: #38454f;
  /* outline: 2px solid rgba(128, 128, 128, 0.377); */
  outline-offset: -1px;
  border-radius: 10px;
  /* box-shadow: inset 1px 1px 2px rgba(128, 128, 128, 0.527),
    1px 1px 2px rgba(128, 128, 128, 0.527); */
  height: 50px !important;
  vertical-align: middle !important;
  /* box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1); */
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.1));
  outline: 1px solid rgba(0, 0, 0, 0.15);
}

thead {
  background: linear-gradient(var(--blueDark), var(--blueDark));
  color: white;
  height: 50px !important;
}

tfoot tr {
  height: 50px !important;
}

.btn-primary {
  background: var(--green) !important;
  border-color: var(--green) !important ;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.btn-secondary {
  background: var(--red) !important;
  border-color: var(--red) !important ;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.btn-primary:active,
.btn-secondary:active {
  border: inset 2px solid white !important;
  filter: drop-shadow(2px 2px 1px rgba(128, 128, 128, 0.795)) !important;
}
.btn-outline-primary:hover {
  background: var(--green) !important;
}

.btn-outline-primary {
  border-color: var(--green) !important ;
  color: var(--green);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-outline-primary:active {
  filter: drop-shadow(2px 2px 1px rgba(128, 128, 128, 0.795)) !important;
}

.consoleText {
  color: #38454f;
  letter-spacing: 2px;
  font-weight: 700;
  text-shadow: 0px 1px 2px black;
  background: var(--red);
  width: 100%;
  text-align: center;
  font-size: 18px;
  filter: drop-shadow(2px 2px 1px rgba(128, 128, 128, 0.795)) !important;
  outline: 2px solid var(--green);
  outline-offset: -4px;
}

/* .modal-body {
  background: #f5f6fa;
} */

.sectionTitle {
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #38454f;
  animation: rotation2 5s infinite reverse;
  margin-top: 25px;
}

@keyframes rotation2 {
  0% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(5deg);
    /* filter: drop-shadow(1px 1px 1px var(--green)); */
  }
  75% {
    transform: skew(-5deg);
    /* filter: drop-shadow(1px 1px 1px var(--red)); */
  }
  100% {
    transform: skew(0deg);
  }
}

.sectionTitle::first-letter {
  color: var(--green);
}

.userIcon {
  background: var(--red);
  border-radius: 50%;
  width: 100px;
  border: 6px solid white;
  filter: drop-shadow(2px 2px 1px rgba(128, 128, 128, 0.795));
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.filterMenu {
  max-width: 250px;
}

/* test */
.selectMenu {
  width: 250px;
  position: relative;
  user-select: none;
}

.selectMenu:focus {
  border-radius: 10px !important;
  outline: 1px solid #02c7ba98;
}

#editUser .selectMenu,
#addUser .selectMenu {
  width: 100%;
}

.selectOptions {
  position: absolute;
  background: white;
  width: 100%;
  left: 0;
  top: 110%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(128, 128, 128, 0.253);
  border-radius: 10px;
  z-index: 5;
}

.selectOptions li {
  padding: 10px;
  /* border-bottom: 1px solid rgba(128, 128, 128, 0.466); */
  border-radius: 10px;
  margin: 2px;
}
.selectOptions li:hover {
  background: var(--green);
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.selectOptions li.active {
  background: var(--green);
  color: white;
  /* filter: drop-shadow(2px 2px 1px rgba(128, 128, 128, 0.795)); */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.selectHeader {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  outline: 1px solid rgba(128, 128, 128, 0.253);
  background: white;
}
.selectHeader.active {
  outline: 1px solid #02c7ba98;
}

.tabContent {
  min-height: 600px;
}

.customShadow {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.btn-close {
  font-size: 10px;
}

input {
  height: 40px !important;
  border-radius: 10px !important;
  outline: 1px solid rgba(128, 128, 128, 0.253);
  border: none !important;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
input:focus {
  border-radius: 10px !important;
  outline: 1px solid #02c7ba98 !important;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) !important;
}

.form-floating > label {
  margin-top: -10px !important;
}

.game {
  max-width: 400px;
  margin: 20px;
  padding: 0;
  border-radius: 15px !important;
}

.game .tarif {
  position: relative;
}
.game .tarif::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 100%;
  background: gray;
}

.game-header {
  background: var(--red);
  color: white;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 0.5em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.game-header .bi {
  color: white;
}

.game-body {
  background: white;
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.userIconWrapper {
  background: #f5f6fa;
  border-radius: 0 0 0 35%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/******* account ********/
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.cards .account_card {
  height: 120px;
  width: 300px;
  background: var(--green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding-left: 10px;
}

.cards .account_card::after {
  content: "";
  position: absolute;
  left: 0;
  border-left: 90px solid var(--red);
  border-right: 0px solid transparent;
  border-bottom: 80px solid transparent;
  border-top: 80px solid transparent;
}

.cards .card_icon {
  font-size: 28px;
  z-index: 1;
}

.cards .card_icon::before {
  padding: 10px;
  border-radius: 50%;
  box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.cards .card_title {
  font-size: 22px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.cards .card_value {
  font-size: 20px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.cards .card_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.session_details {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid rgba(128, 128, 128, 0.267);
}

/******* account ********/
